{% block contact %}

<h2>Contact</h2>
<div class="row justify-content-center border border-light border-3">
     <article class="col-md-5 col-sm-12 align-self-center fade from-left">
        <p>
            N'hésitez pas à me contacter en laissant votre nom, message et adresse email.<br>
            Je pourrais ainsi vous répondre dans les meilleurs délais.  
        </p>
    </article>
    <div class="form-group col-md-6 col-sm-12">
        {{ form_start(form, {'attr': {'id': 'form-contact','class':'fade from-top'}}) }}
        {{ form_label(form.name, 'Nom', {'label_attr': {'class': 'text-red'}}) }}
            {{ form_widget(form.name) }}
        {{ form_label(form.email, 'Email', {'label_attr': {'class': 'text-red'}}) }}
            {{ form_widget(form.email) }}
        {{ form_label(form.subject, 'Sujet', {'label_attr': {'class': 'text-red'}}) }}
            {{ form_widget(form.subject) }}
        {{ form_label(form.message, 'Message', {'label_attr': {'class': 'text-red'}}) }}
            {{ form_widget(form.message) }}
        {{ form_row(form.captcha) }}
        {{ form_row(form.save,{'attr': {'label':"Soumettre"}}) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

